* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(168, 216, 234);
  background: linear-gradient(
    83deg,
    rgba(168, 216, 234, 1) 2%,
    rgba(187, 222, 214, 1) 48%,
    rgba(219, 226, 239, 1) 95%
  );
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin-inline: auto;
  padding-block: 3em;
}
